.container {
  display: flex;
  justify-content: space-evenly;
}

.column {
}

.border {
  border: 1px solid black;
}

.padding25 {
  padding: 25px;
}

h1 {
  text-align: center;
}

form div:nth-child(odd) {
  padding: 25px 0;
}

label + input, label + select {
  margin-left: 10px;
}
